body {
    font-family: sans-serif;
    color: #101010;
    background-color: #fdfdfd;
    font-size: 0.8em;
    line-height: 2em;
    margin: 3em;
}
p {
    margin: 2em 0;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    text-decoration: underline;
    background-color: red;
    color: aliceblue;
}

header {
    border: 1px solid lightgray;
}

h3 {
    text-align: right
}

li {
    display: inline;
}

div div div{
    width: 50%;
    float: left;
    padding: 1em;
    box-sizing: border-box;
}

div div div h3 {
    text-align: center;
}

@media (max-width: 640px) {
    div div div {
        width: 100% !important;
    }
}